h1, h2, h3, h4,p {
  margin: 0px;
}

h2 {
	font-size: 1.2em;
}

h3 {
	font-size: 1.1em;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 20px;
}

a {
	text-decoration: none;
}

ul {
	margin: 0px;
	padding: 0px;
	li {
	list-style: none;
	}
}

.course_item {
	margin: 0 0 15px 0;
	li:nth-child(1) {
		font-size: .7em;
		margin-bottom: 5px;
		text-transform: uppercase;
	}
	li:nth-child(2) {
		font-size: 1.1em;
	}
}
